﻿<select [(ngModel)]="modelValue" #d (ngModelChange)="eDropdownChange.emit($event)" class="mdl-selectfield__select mdl-cell mdl-cell--2-col" id="professsion2" name="professsion">
    <option *ngFor="let obj of initOptions" [ngValue]="obj">{{obj}}</option>
</select>

 <!--[(ngModel)]="pagedResult.pageSize" (ngModelChange)="onModelChange($event)"--> 