﻿<nav *ngIf="this.paginationPagedResult" aria-label="...">
    <ul class="pager">
        <li style="cursor:pointer" (click)="PreviousPage()" [class.disabled]="(this.paginationPagedResult.pageNo <= 1)" class="previous"><a><span aria-hidden="true">&larr;</span> Previous</a></li>
        <li style="cursor:pointer" (click)="NextPage()" [class.disabled]="(this.paginationPagedResult.pageNo >= this.paginationPagedResult.maxPageNo)" class="next"><a>Next <span aria-hidden="true">&rarr;</span></a></li>

        <!--<li (click)="NextPage()" class="next"><a >Newer <span aria-hidden="true">&rarr;</span></a></li>-->
    </ul>
</nav>