﻿<!--<ul *ngIf="model" class="demo-list-three mdl-list">
   
          <li class="mdl-list__item mdl-list__item--three-line list-show">
              <span class="mdl-list__item-primary-content">
                  <i class="material-icons mdl-list__item-avatar">person</i>
                  <span>{{model.title}}</span>
                  <span class="mdl-list__item-text-body">
                      {{model.message}}
                  </span>
              </span>
              <span class="mdl-list__item-secondary-content">
                  <a (click)="setCurrentNews(currentMosinaNews)" class="mdl-list__item-secondary-action md-dark" style="color:royalblue"><i class="material-icons">info</i></a>
              </span>
          </li>
      </ul>-->
<style>
    .list-show * {
        animation-duration: 1s;
        animation-name: fade;
    }

    @keyframes fade {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
</style>

<section  *ngIf="model" class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp list-show" >
    <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white">
        <i class="material-icons">play_circle_filled</i>
    </header>
    <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone ">
        <div class="mdl-card__supporting-text list-show">
            <h4 >{{model.title}}</h4>
            <span  >{{model.message}}</span>
        </div>
        <!--<div class="mdl-card__actions">
            <a href="#" class="mdl-button">Read our features</a>
        </div>-->
    </div>
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn1" data-upgraded=",MaterialButton,MaterialRipple">
        <i class="material-icons">more_vert</i>
        <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span>
    </button>
    <div class="mdl-menu__container is-upgraded">
        <div class="mdl-menu__outline mdl-menu--bottom-right"></div><ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn1" data-upgraded=",MaterialMenu">
            <li class="mdl-menu__item" tabindex="-1">Lorem</li>
            <li class="mdl-menu__item" disabled="" tabindex="-1">Ipsum</li>
            <li class="mdl-menu__item" tabindex="-1">Dolor</li>
        </ul>
    </div>
</section>