﻿<style>

    .list-show * {
        animation-duration: 1s;
        animation-name: fade;
    }

    @keyframes fade {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
</style>


<div *ngIf="currentMosinaNews">
    <ul class="demo-list-icon mdl-list">
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon">info</i>
               {{currentMosinaNews.title}}
            </span>
        </li>
        </ul>
        <!--<ul class="demo-list-three mdl-list">
            <li class="mdl-list__item mdl-list__item--three-line list-show">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-avatar">person</i>
                    <span>{{currentMosinaNews.title}}</span>
                    <span class="mdl-list__item-text-body">
                        {{currentMosinaNews.message}}
                    </span>
                </span>
                <span class="mdl-list__item-secondary-content">
                    <a (click)="setCurrentNews(currentMosinaNews)" class="mdl-list__item-secondary-action md-dark" style="color:royalblue"><i class="material-icons">info</i></a>
                </span>
            </li>
        </ul>-->
</div>
