﻿<!--todo: ng for po <mosina-item></mosina-item>-->
<style>
    .demo-list-three {
        width: 650px;
    }

    .customContainer {
        max-width: 900px;
        margin-left: 30px;
    }

    .newsContent {
        max-width: 500px;
        margin: 0 auto;
    }

</style>

<div class="mdl-grid mdl-grid--no-spacing ">
    <div class="mdl-cell mdl-cell--2-col  mdl-card mdl-shadow--2dp  mdl-cell--4-col-phone">
        <p *ngIf="!mosinaNews" class="mdl-spinner mdl-js-spinner is-active"></p>
        <!--<nav aria-label="...">

            <!--<ul class="pager">
                <li class="mdl-cell mdl-cell--6-col">
                    <select [(ngModel)]="pagedResult.pageSize" (ngModelChange)="onModelChange($event)" class="mdl-selectfield__select mdl-cell mdl-cell--2-col" id="professsion2" name="professsion">
                        <option value=""></option>
                        <option value="1">option 1</option>
                        <option value="2">option 2</option>
                        <option value="3">option 3</option>
                        <option value="4">option 4</option>
                        <option value="5">option 5</option>
                    </select>
                </li>-->
       
        <pagination-list [paginationPagedResult]="pagedResult" (eChangePage)="onPageChange($event)"></pagination-list>
        <drop-down [modelValue]="pagedResult.pageSize" (eDropdownChange)="onDropdownChange($event)" [initOptions]="pageDisplayOptions"></drop-down>
        <!--<li style="cursor:pointer" (click)="PreviousPage()" [class.disabled]="(this.pagedResult.pageNo <= 1)" class="previous"><a><span aria-hidden="true">&larr;</span> Previous</a></li>
        <li style="cursor:pointer" (click)="NextPage()" [class.disabled]="(this.pagedResult.pageNo >= this.pagedResult.maxPageNo)" class="next"><a>Next <span aria-hidden="true">&rarr;</span></a></li>-->
        <!--</ul>
        </nav>-->
        <div *ngFor="let oMosinaNews of mosinaNews">
            <div (click)="onNewsChange(oMosinaNews)">
                <mosina-news [currentMosinaNews]="oMosinaNews"></mosina-news>
            </div>
        </div>

    </div>
    <div  class="mdl-cell mdl-cell--1-col"></div>

    <div class="mdl-cell mdl-cell--7-col mdl-card mdl-shadow--6dp  mdl-cell--4-col-phone">
    
            <news-content [model]="selectedNews"></news-content>
      
            </div>

   
        <news-details [newsModel]="selectedNews"></news-details>
    
</div>